<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>223851828128-rpchfe6mkbi0f65dn97dflavqmsdauvb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.223851828128-rpchfe6mkbi0f65dn97dflavqmsdauvb</string>
	<key>API_KEY</key>
	<string>AIzaSyA9l42179EM8sZ1IRQZjByT8nSoTtNtT34</string>
	<key>GCM_SENDER_ID</key>
	<string>223851828128</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.deve.benhaoffers</string>
	<key>PROJECT_ID</key>
	<string>bsoraa-55c9d</string>
	<key>STORAGE_BUCKET</key>
	<string>bsoraa-55c9d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:223851828128:ios:4eeffdcaf89570ae200ac5</string>
</dict>
</plist>